.page{
    display: none;
}
.active{
    display: block;
}
#tulostussivu{
    background-color: tomato;
}
#kuvanpiiloitussivu{
    background-color: yellow;
}
#otsikonvaihtosivu{
    background-color: violet;
}
#divhome{
    background-color: yellowgreen;
}
body{
    background-color: rosybrown;
}